@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: Montserrat;
  outline: none;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
html,
body {
  height: 100%;
  font-size: 20px;
  color: #303B40;
}
.container {
  max-width: 1146px;
  margin: auto;
}

/* HEADER
==================== */

.header {
  background: url(../img/header/bg.png) no-repeat;
}

.nav {
  display: flex;
  border-bottom: solid 2px #5477BB;
  padding: 18px 0;
  justify-content: space-between;
}

.nav-right {
  display: flex;
  flex-wrap: wrap;
}

.nav-phone a {
  font-size: 16px;
  color: #303B40;
  line-height: 60px;
  margin-right: 32px;
  transition: color ease-in-out 0.2s;
}

.nav-phone a:hover {
  color: #F69A1B;
}

.nav-phone img {
  vertical-align: middle;
  margin-right: 8px;
}

.nav-viber {
  border: 1px solid #E8E8E8;
  height: 60px;
  width: 60px;
  text-align: center;
  margin-right: 10px;
  transition: box-shadow ease-in-out 0.3s;
}

.nav-viber img {
  padding: 30% 0;
}

.nav-viber:hover {
  box-shadow: 0px 0px 10px rgb(121, 121, 121);
}

.nav-telegram {
  border: 1px solid #E8E8E8;
  height: 60px;
  width: 60px;
  text-align: center;
  margin-right: 10px;
  transition: box-shadow ease-in-out 0.3s;
}

.nav-telegram img {
  padding: 32% 0;
}

.nav-telegram:hover {
  box-shadow: 0px 0px 10px rgb(121, 121, 121);
}

.nav-button {
  font-size: 16px;
  color: #FFF;
  font-weight: 600;
  line-height: normal;
  text-align: center;
  padding: 20px 36px;
  background: #5477BB;
  transition: background-color ease-in-out 0.3s;
}

.nav-button:hover {
  background: #415b8f;
}

.burger, .burger:after, .burger:before {
  position: relative;
  display: none;
  background: none;
  appearance: none;
  outline: none;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.burger .bar, .burger:after, .burger:before {
  z-index: 100;
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background: #000;
  margin: 8px 0;
  transition: 0.3s;
}

.burger.is-active:before {
  transform: rotate(-45deg) translate(-9px, 6px);
}

.burger.is-active .bar {
  opacity: 0;
}

.burger.is-active:after {
  transform: rotate(45deg) translate(-8px, -5px);
}

.mobile-nav {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  min-height: 100vh;
  display: block;
  background-color: #fff;
  z-index: 98;
  padding: 70px 15px;
  transition: ease-in-out 0.4s;
}

.mobile-nav.is-active {
  left: 0;
}

.mobile-nav-links {
  display: flex;
  text-align: center;
  flex-direction: column;
  padding-bottom: 15px;
  border-bottom: 1px solid #E8E8E8;
}

.mobile-nav a {
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 28px;
  margin-bottom: 30px;
  color: #000;
}

.mobile-nav-buttons {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 45px auto;
}

.mobile-nav-buttons .nav-button {
  margin: 15px auto;
  width: 250px;
  color: #FFF;
  font-weight: 600;
  font-size: 14px;
  line-height: 28px;
}

.mobile-nav-social {
  display: flex;
  margin: auto;
}

.subnav {
  margin-top: 20px;
}

.subnav-row {
  display: flex;
  justify-content: space-between;
}

.subnav-item {
  text-transform: uppercase;
  font-size: 16px;
  text-align: center;
}

.subnav-item a {
  color: #000;
  transition: color ease-in-out 0.2s;
}

.subnav-item a:hover {
  color: #F69A1B;
}

/* Title
================= */

.header-title {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
}

.title-text {
  margin: 40px 0;
}

.title-text h1{
  font-weight: 600;
  font-size: 56px;
  line-height: 70px;
}

.title-img {
  width: 50%;
}

.header-title ul {
  margin-top: 70px;
}

.header-title li {
  list-style: url('../img/header/list.svg');
  line-height: 40px;
  font-size: 16px;
  margin-left: 20px;
}

.orange-box {
  margin-top: 40px;
  display: flex;
  background: #F69A1B;
  padding: 35px 100px;
  color: #FFF;
}

.orange-box h5 {
  font-weight: 800;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
}

.orange-box-right {
  display: flex;
  margin: 15px 0;
}

.orange-box-button {
  padding: 20px 0;
  background: #5477BB;
  font-weight: 600;
  font-size: 14px;
  margin-left: 30px;
  transition: background-color ease-in-out 0.3s;
}

.orange-box-button a {
  color: #FFF;
  padding: 20px 36px;
}

.orange-box-button:hover {
  background: #415b8f;
}

.orange-box-right input {
  font-family: inherit; 
  font-size: inherit; 
  line-height: inherit; 
  margin: 0; 

  padding: 20px 100px 20px 20px;
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  height: 60px;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #bdbdbd;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* ABOUT
=================== */

.about {
  background: url(../img/about/bg.png) no-repeat right top;
  padding: 100px 0 0 0;
}

.about-container {
  max-width: 950px;
  margin: 0 auto;
  padding:0 100px 0 100px;
}

.about h2 {
  font-weight: 600;
  font-size: 40px;
  line-height: 54px;
  margin: 0 0 35px;
}

.about h4 {
  color: #5477BB;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 35px;
}

.about-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
}

.about-clients {
  background: #F6F8F9;
  padding: 40px 100px;
  margin-top: 70px;
}

/* EXPERTS
===================== */

.experts {
  padding: 100px 0;
  border-bottom: 1px solid #E8E8E8;
}

.experts-slider {
  margin: 0;
  text-align: center;
  padding: 0;
}

.experts img {
  margin-bottom: 18px;
  width: 95%;
  margin: 20px auto;
  text-align: center;
}

.experts-row {
  display: flex;
  justify-content: space-between;
  text-align: center;
  flex-wrap: wrap;
}

.experts-item {
  margin: 20px auto;
  text-align: center;
  padding: 0;
}

.expert-name {
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 10px;
  width: 240px;
  margin: auto;
  padding: 0;
}

.expert-profession {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #8C969A;
}

/* HELP
======================= */

.help {
  padding: 100px 0 0 0;
  background: url(../img/help/bg.png) no-repeat top left;
}

.help-row {
  display: flex;
  justify-content: space-between;
}

.help-left {
  width: 60%;
}

.help-left h2 {
  font-weight: 600;
  font-size: 40px;
  line-height: 54px;
  margin-bottom: 30px;
}

.help-left h4 {
  font-weight: 800;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  color: #5477BB;
  margin-bottom: 50px;
}

.help-text {
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
}

.help-right {
  padding: 40px 70px;
  background: #F6F8F9;
  border: 1px solid #E8E8E8;
  box-sizing: border-box;
}

.help-right h4 {
  font-weight: 800;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  color: #F69A1B;
  margin-bottom: 27px;
}

.help-right ul {
  margin-left: 15px;
}

.help-right li {
  font-weight: 500;
  font-size: 16px;
  line-height: 40px;
  list-style: url('../img/header/list.svg');
}

.help h3 {
  margin-top: 35px;
  font-weight: 600;
  font-size: 28px;
  line-height: 44px;
  width: 80%;
}

/* EXPERIENCE
===================== */

.experience {
  margin-top: 100px;
}

.experience img {
  position: relative;
  margin-left: -25%;
}

.experience-box {
  position: relative;
  background: #F69A1B;
  color: #FFF;
  padding: 60px 70px;
  max-width: 556px;
  margin-top: -450px;
  float: right;
  transition: box-shadow 0.3s;
}

.experience-box:hover {
  box-shadow: 0 0 40px rgb(82, 82, 82);
}

.experience-box h6 {
  font-weight: 900;
  font-size: 60px;
  line-height: 60px;
  margin-bottom: 25px;
}

.experience-box p {
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
}

/* SERVISES
===================== */

.servises {
  padding: 100px 0;
  background: url(../img/servises/\ bg.png) no-repeat bottom right;
  border-bottom: 1px solid #E8E8E8;
}

.servises h2 {
  font-weight: 600;
  font-size: 40px;
  line-height: 54px;
}

.servises-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 40px;
}

.servises-card {
  padding: 40px;
  background: #F6F8F9;
  width: 49%;
  max-width: 557px;
  border: 1px solid #E8E8E8;
  box-sizing: border-box;
  margin: 10px 0;
}

.servises-card-title {
  display: flex;
}

.servises-card img {
  margin-right: 15px;
}

.servises-card h4 {
  margin-top: 10px;
  font-weight: 800;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
}

.servises-card ul {
  margin-left: 70px;
  margin-top: 10px;
}

.servises-card li {
  font-weight: 500;
  font-size: 16px;
  line-height: 40px;
  list-style: url('../img/header/list.svg');
}

/* OUTSOURCING
========================== */

.outsoursing {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
}

.outsoursing h2 {
  font-weight: 600;
  font-size: 40px;
  line-height: 54px;
}

.outsoursing p {
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  margin: 48px 0;
}

.outsoursing h4 {
  font-weight: 800;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  color: #5477BB;
}

.outsoursing-left {
  flex: 3;
}

.outsoursing-right {
  flex: 1;
  background: #F69A1B;
  color: #FFF;
  padding: 64px 71px;
  transition: box-shadow ease-in-out 0.2s;
  transform-style: preserve-3d;
}

.outsoursing-right:hover {
  box-shadow: 0 0 40px rgb(82, 82, 82);
}

.outsoursing h5 {
  font-weight: 900;
  font-size: 90px;
  line-height: 70px;
  transform: translateZ(20px);
}

.outsoursing-right p {
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
}



/* MEDIA
=================== */

@media (max-width: 1160px) {

  .container {
    padding: 0 15px;
  }
  
  .orange-box {
    flex-direction: column;
    text-align: center;
  }

  .experts {
    padding: 40px 0;
  }

  .about {
    padding: 40px 0;
  }

  .help {
    padding: 0;
  }

  .orange-box-right {
    margin: 20px auto 0;
  }

  .experience img {
    width: 100%;
    margin: 0;
  }

  .experience-box {
    padding: 60px 70px;
    margin: 0;
    max-width: 100%;
    width: 100%;
    margin-bottom: 40px;
  }
}

@media (max-width: 927px) {

  .header-title {
    flex-direction: column;
    justify-content: center;
  }

  .title-img {
    margin: auto;
    width: 80%;
    text-align: center;
  }

  .title-img img {
    max-width: 460px;
    width: 100%;
  }

  .header-title h1 {
    font-size: 6vw;
    line-height: 1;
    margin: 0;
  }

  .header-title ul {
    padding: 20px 0;
    margin: 0 auto;
  }

  .title-text {
    padding: 0 20px;
  }

  .orange-box {
    padding-left: 20px;
    padding-right: 20px;
  }

  .orange-box-right {
    flex-direction: column;
    margin: auto;
  }

  .orange-box-right input {
    padding: 20px;
  }

  .orange-box-button {
    margin: auto;
    margin-top: 10px;
    padding: 20px;
  }

  .about-clients {
    padding: 30px;
  }

  .help-row {
    flex-direction: column;
  }

  .help-left {
    width: 100%;
    margin-bottom: 40px;
  }

  .servises-card {
    margin: auto;
    width: 100%;
    margin-bottom: 20px;
  }
}

@media (max-width: 840px) {
  .subnav,
  .nav-right {
    display: none;
  }

  .burger {
    display: block;
  }

  .nav-logo img {
    height: 45px;
  }
}

@media (max-width: 500px) {

  .experience-box h6 {
    font-size: 12vw;
    line-height: 1;
  }

  .servises-card {
    padding: 20px;
    width: 100%;
  }

  .header-title h1 {
    font-size: 28px;
  }

  .servises-card ul {
    margin-left: 20px;
    padding: 20px 0;
  }

  .experience-box {
    padding: 20px;
  }

  .outsoursing-right {
    margin-top: 20px;
    padding: 20px;
  }

  .outsoursing-right h5 {
    font-size: 22vw;
    line-height: 1;
    margin: 0;
  }
}
